apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: simple-nodejs-app-ulao
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: simple-nodejs-app-ulao
    app.kubernetes.io/part-of: nodejs-users
  name: simple-nodejs-app-ulao
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: nodejs-app
      app.kubernetes.io/instance: simple-nodejs-app-ulao
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-app
        app.kubernetes.io/instance: simple-nodejs-app-ulao
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-ozjk-tenant/nodejs-users/simple-nodejs-app-ulao@sha256:859c3f4e719b10547ad95074a130bf88da8ff624e333f693fb551e38f9be923b
        name: my-nodejs
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
